In [2]:
import pandas as pd

In [3]:
pd.__version__

'1.4.2'

In [4]:
df= pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [5]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [6]:
print(pd .io.sql.get_schema(df,name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [7]:
pd.to_datetime(df.tpep_pickup_datetime)

0    2021-01-01 00:30:10
1    2021-01-01 00:51:20
2    2021-01-01 00:43:30
3    2021-01-01 00:15:48
4    2021-01-01 00:31:49
             ...
95   2021-01-01 00:12:41
96   2021-01-01 00:23:29
97   2021-01-01 00:46:17
98   2021-01-01 00:28:16
99   2021-01-01 00:42:35
Name: tpep_pickup_datetime, Length: 100, dtype: datetime64[ns]

In [8]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [9]:
print(pd .io.sql.get_schema(df,name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [10]:
 from sqlalchemy import create_engine

In [24]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [25]:
engine.connect()

In [13]:
print(pd .io.sql.get_schema(df,name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

### batch the csv file as its too large for loading to postgres

In [29]:
df_iter= pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [30]:
df_iter

In [31]:
df=next(df_iter)

In [32]:
len(df)

100000

In [33]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

### create table and insert data chunk as only the column labels

In [34]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [35]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

# if a table with name exists 'replace'

1000

In [37]:
 %time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 9.1 s, sys: 867 ms, total: 9.97 s
Wall time: 47.5 s

1000

In [38]:
from time import time

In [39]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk..., took %0.3f second' %(t_end-t_start))

inserted another chunk..., took 34.861 second
inserted another chunk..., took 30.820 second
inserted another chunk..., took 31.253 second
inserted another chunk..., took 39.910 second
inserted another chunk..., took 37.362 second
inserted another chunk..., took 41.774 second
inserted another chunk..., took 41.718 second

OperationalError: (psycopg2.OperationalError) terminating connection due to administrator command
server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

[SQL: INSERT INTO yellow_taxi_data (index, "VendorID", tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, "RatecodeID", store_and_fwd_flag, "PULocationID", "DOLocationID", payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge) VALUES (%(index)s, %(VendorID)s, %(tpep_pickup_datetime)s, %(tpep_dropoff_datetime)s, %(passenger_count)s, %(trip_distance)s, %(RatecodeID)s, %(store_and_fwd_flag)s, %(PULocationID)s, %(DOLocationID)s, %(payment_type)s, %(fare_amount)s, %(extra)s, %(mta_tax)s, %(tip_amount)s, %(tolls_amount)s, %(improvement_surcharge)s, %(total_amount)s, %(congestion_surcharge)s)]
[parameters: ({'index': 800000, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 21, 7, 23, 7), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 21, 7, 50, 10), 'passenger_count': 1, 'trip_distance': 4.32, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 141, 'DOLocationID': 166, 'payment_type': 1, 'fare_amount': 20.0, 'extra': 0.0, 'mta_tax': 0.5, 'tip_amount': 5.82, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 29.12, 'congestion_surcharge': 2.5}, {'index': 800001, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 21, 7, 49, 32), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 21, 8, 0, 28), 'passenger_count': 1, 'trip_distance': 2.06, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 231, 'DOLocationID': 234, 'payment_type': 1, 'fare_amount': 10.0, 'extra': 0.0, 'mta_tax': 0.5, 'tip_amount': 2.66, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 15.96, 'congestion_surcharge': 2.5}, {'index': 800002, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 21, 7, 18, 50), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 21, 7, 27, 31), 'passenger_count': 1, 'trip_distance': 1.86, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 141, 'DOLocationID': 237, 'payment_type': 1, 'fare_amount': 8.5, 'extra': 0.0, 'mta_tax': 0.5, 'tip_amount': 1.5, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 13.3, 'congestion_surcharge': 2.5}, {'index': 800003, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 21, 7, 49, 50), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 21, 7, 56, 30), 'passenger_count': 1, 'trip_distance': 1.4, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 264, 'DOLocationID': 264, 'payment_type': 1, 'fare_amount': 7.0, 'extra': 0.0, 'mta_tax': 0.5, 'tip_amount': 2.06, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 12.36, 'congestion_surcharge': 2.5}, {'index': 800004, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 21, 7, 5, 54), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 21, 7, 13, 42), 'passenger_count': 1, 'trip_distance': 0.59, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 100, 'DOLocationID': 246, 'payment_type': 2, 'fare_amount': 6.5, 'extra': 0.0, 'mta_tax': 0.5, 'tip_amount': 0.0, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 9.8, 'congestion_surcharge': 2.5}, {'index': 800005, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 21, 7, 57, 50), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 21, 8, 5, 8), 'passenger_count': 1, 'trip_distance': 1.19, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 100, 'DOLocationID': 50, 'payment_type': 1, 'fare_amount': 7.0, 'extra': 0.0, 'mta_tax': 0.5, 'tip_amount': 2.06, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 12.36, 'congestion_surcharge': 2.5}, {'index': 800006, 'VendorID': 1, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 21, 7, 22, 17), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 21, 7, 25, 38), 'passenger_count': 1, 'trip_distance': 0.8, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 237, 'DOLocationID': 162, 'payment_type': 1, 'fare_amount': 5.0, 'extra': 2.5, 'mta_tax': 0.5, 'tip_amount': 2.45, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 10.75, 'congestion_surcharge': 2.5}, {'index': 800007, 'VendorID': 1, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 21, 7, 57, 39), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 21, 8, 2, 5), 'passenger_count': 1, 'trip_distance': 0.7, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 237, 'DOLocationID': 237, 'payment_type': 1, 'fare_amount': 5.0, 'extra': 2.5, 'mta_tax': 0.5, 'tip_amount': 5.0, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 13.3, 'congestion_surcharge': 2.5}  ... displaying 10 of 100000 total bound parameter sets ...  {'index': 899998, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 23, 9, 58, 54), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 23, 10, 8, 34), 'passenger_count': 1, 'trip_distance': 2.78, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 158, 'DOLocationID': 234, 'payment_type': 1, 'fare_amount': 11.0, 'extra': 0.0, 'mta_tax': 0.5, 'tip_amount': 2.14, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 16.44, 'congestion_surcharge': 2.5}, {'index': 899999, 'VendorID': 2, 'tpep_pickup_datetime': datetime.datetime(2021, 1, 23, 9, 26, 27), 'tpep_dropoff_datetime': datetime.datetime(2021, 1, 23, 9, 32, 20), 'passenger_count': 1, 'trip_distance': 1.48, 'RatecodeID': 1, 'store_and_fwd_flag': 'N', 'PULocationID': 141, 'DOLocationID': 163, 'payment_type': 1, 'fare_amount': 7.0, 'extra': 0.0, 'mta_tax': 0.5, 'tip_amount': 2.06, 'tolls_amount': 0.0, 'improvement_surcharge': 0.3, 'total_amount': 12.36, 'congestion_surcharge': 2.5})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [22]:
df_zones = pd.read_csv('taxi+_zone_lookup.csv')

In [23]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [26]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265